


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
      
    </thead>
    <tbody>
@foreach (var item in Model) {
       
}
    </tbody>
</table>
</body>
</html>
